.container-hero-promo {
  width: 100%;
  overflow-x: hidden;
  background-image: url(../img/fondo-promo.png);
  background-size: cover;
  background-position: top center;
  min-height: 900px;
  position: relative;
}
.text-hero-promo {
  position: absolute;
  width: 50%;
  left: 5%;
  top: 20%;
}
.text-hero-promo p {
  color: #fff;
  font-size: 2.7em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
}
.text-hero-promo p span {
  color: #29abe2;
}
.forma-promo {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.contact-hero-promo {
  display: block;
  background-color: #29abe2;
  color: #fff !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  padding: 7px 10px;
  border-radius: 7px;
  position: relative;
  text-align: center;
  width: 170px;
  transition: 0.4s;
  text-decoration: none;
}
.contact-hero-promo:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

@media (max-width: 767px) {
  .container-hero-promo {
    width: 100%;
    overflow-x: hidden;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position: top center;
    min-height: 500px;
    position: relative;
  }
  .text-hero-promo {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 20%;
  }

  .contact-hero-promo {
    display: block;
    background-color: #29abe2;
    color: #fff !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    padding: 7px 10px;
    border-radius: 7px;
    position: relative;
    text-align: center;
    width: 170px;
    transition: 0.4s;
    text-decoration: none;
  }
  .contact-hero-promo:hover {
    transform: scale(1.1);
    transition: 0.4s;
  }
  .text-hero-promo p {
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Catamaran", sans-serif;
  }
}
