header {
  width: 100%;
  box-shadow: 10px 10px 10px gray;
}
.container-menu {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
  position: relative;
}
.logo-fervet {
  max-width: 14%;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu li {
  list-style: none;
}
.menu li a {
  margin-left: 25px;
  text-decoration: none;
  color: #003366;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}
.title-submenu {
  margin-left: 25px;
  text-decoration: none;
  color: #003366;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}
.menu-sub {
  position: relative;
  width: auto;
}
.submenu {
  position: absolute;
  top: 100%;
  width: 210px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #003366;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.7s;
}
.openSubmenu {
  height: 100px;
  overflow: visible;
  opacity: 1;
  transition: all 0.7s;
  z-index: 4;
}
.submenu .links-submenu {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 7px auto;
}
.container-submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container-submenu img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.contacto-header img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.menu-bar {
  display: none;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1);
  transition: 0.5s;
  transform-origin: top;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container-modal {
  width: 70%;
  margin: 30px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-modal h2 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 20px;
}
.container-modal p {
  color: #fff;
  font-size: 1.2em;
}
.modal-body {
  display: flex;
}
.container-modal img {
  width: 400px;
  height: 400px;
  margin: 15px;
}
.container-modal a {
  display: block;
  width: 320px;
  background-color: #2bb741;
  padding: 0px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin: 5px auto;
  border-radius: 10px;
  font-size: 1.1em;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.modal-footer {
  display: flex;
  gap: 18px;
}

.container-modal .btn_form {
  background-color: #29abe2 !important;
}
.container-modal a img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
.container-modal a:hover {
  transform: scale(0.9);
  transition: 0.5s;
  background-color: #003366;
}
#cerrar {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}
.arrow1 {
  display: block;
}
.arrow2 {
  display: none;
}
.submenu-compu {
  display: block;
}
.submenu-movil {
  display: none;
}

@media (max-width: 767px) {
  .submenu-compu {
    display: none;
  }
  .submenu-movil {
    display: block;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
  }
  header {
    z-index: 999;
  }
  .container-menu {
    width: 100%;
    z-index: 999;
  }
  .logo-fervet {
    padding-left: 30px;
    max-width: 22%;
  }
  .menu-bar {
    display: block;
    padding-right: 30px;
  }
  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    background-color: #29abe2;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 1s;
    z-index: 5;
  }
  .nav-menu.open {
    height: 100vh;
    overflow: visible;
    opacity: 1;
    transition: all 1s;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu li:nth-child(1) {
    margin-top: 50px;
  }
  .menu li {
    margin: 20px auto;
  }

  .menu li a {
    background-color: #29abe2;
    color: #fff !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    padding: 7px 30px;
    border-radius: 7px;
    position: relative;
  }
  .title-submenu {
    background-color: #29abe2;
    color: #fff !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    padding: 7px 30px;
    border-radius: 7px;
    position: relative;
  }

  .menu-sub {
    position: relative;
    width: auto;
  }
  .submenu {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #29abe2;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s;
  }
  .openSubmenu {
    height: 150px;
    overflow: visible;
    opacity: 1;
    transition: all 0.7s;
  }
  .arrow1 {
    display: none;
  }
  .arrow2 {
    display: block;
  }
  .openSubmenu {
    height: 100px;
    overflow: visible;
    opacity: 1;
    transition: all 0.7s;
    z-index: 4;
  }
  .submenu .links-submenu {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0px auto;
  }
  .container-submenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .container-submenu img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  .menu li a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 1s ease;
  }
  .menu li a:hover::before {
    width: 100%;
  }
  .modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1);
    transition: 0.5s;
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .container-modal {
    width: 95%;

    text-align: center;
    padding-top: 7px;
  }
  .container-modal h2 {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 20px;
  }
  .container-modal p {
    color: #fff;
    font-size: 1em;
  }
  .container-modal img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    margin: 10px;
  }
  .modal-footer {
    gap: 5px;
  }
  .container-modal a {
    display: block;
    width: 270px;
    background-color: #2bb741;
    padding: 6px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin: 0px auto;
    border-radius: 15px;
    font-size: 1em;
    transition: 0.5s;
  }
  .container-modal a img {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
  .modal-footer {
    flex-direction: column;
  }
  .modal-footer a {
    display: flex;
    justify-content: center;
  }
  .container-modal .btn_form {
    background-color: #29abe2 !important;
  }
  .container-modal a:hover {
    transform: scale(0.9);
    transition: 0.5s;
    background-color: #003366;
  }
  #cerrar {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 28px;
    height: 28px;
  }
  .redes_header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .redes_header .contacto-header {
    padding: 0;
  }
  .redes_header .contacto-header img {
    width: 58px;
    height: 58px;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .logo-fervet {
    max-width: 35%;
  }
}
@media (max-width: 390px) {
  .logo-fervet {
    max-width: 40%;
  }
}
@media (max-width: 350px) {
  .logo-fervet {
    max-width: 45%;
  }
}
